body {
      margin:0vw;
      padding:0vw;
      background-color: #70A37F;
	  }

img { 
	border:0vw; 
    } 

a:link {
   	color: white;
   }

div#content {
	position: fixed;
	left: 500px;
	top: 135px;
	padding: 10px;
	width: 600px;
	height: 420px;
	background-color: #79B473;
	color: #4C3957;
	border-radius: 2%;
	text-align: center;
}
div#content img{
	position: fixed;
	border-radius: 10%;
	border: 4px solid #41658A;
	text-align: left;
}
div#content div#descriptionText {
	position: relative;
	
}
div#content div#blogFrame {
	padding: 10px;
	width: 600px;
	height: 420px;
	overflow-y: scroll;
}
div#content div#blogFrame div#blog {
	height: 800px;
	background-color: #79B473;
}
div#content div#blogFrame div#blog h1 {
	font-size: 20px;
}
div#content table{
	border: 2px solid;
	font-size: 90%;
	font-family: Helvetica, sans-serif, Arial;
	padding: 2px;
}
table.center
{
margin-right: auto;
margin-left: auto;
}
th.width
{
width: 110px;
}

div#header {
	position: fixed;
	padding: 10px;
	background-color: #414073;
	width: 1100px;
	height: 75px;
	border-radius: 2%;
	font-family: "Times New Roman", "Courier New", "Serif";
	font-size: 28px;
	color: white;
	z-index: 10;
}
div#header a {color: white;
			  text-decoration: none;
			  padding: 20px;

				}
div#header a:hover {color: #70A37F;}
div#header img { 
					top: 5px;
					border-radius: 20%;
				position: fixed;
				z-index: 100;
}

div#sidebar {
	position: fixed;
	left: 15px;
	top: 135px;
	width: 350px;
	height: 400px;
	padding: 5px;
	background-color: #41658A;
	border-radius: 2%;
	text-align: center;
}
div#sidebar a {text-decoration: none;
				color: white;
				font-size: 26px;
				font-family: "Palatino Linotype", "Book Antiqua", Palatino;
}

div#sidebar a:hover {color: #79B473;}
div#sidebar img {
	border-radius: 8%;
}